<h1><nav class="navbar navbar-expand-lg bg-dark navbar-dark">
<a href="#" class="navbar-brand">New Signboard</a></h1>


<%= render 'form', signboard: @signboard %>


<%= link_to 'Back', signboards_path %>
