 

<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">ANALINX</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/admin/dashboard">Dashboard</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/signboards">Signboards</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/owners">Owners</a>
    </div>
</div>

